body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

#team h3 {
    margin: 0;
}
