.hero-img-main {
    width: 	240px;
}

@media only screen and (max-width: 576px) {
    .hero-img-main {
        width: 80vw;
        
    }
}

.hero-card-main {
    cursor: pointer;
}

.hero-name {
    text-decoration: none!important;
    color: rgb(24, 24, 24);
}

a {
    text-decoration: none;
}