<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/profile.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body class="container-fluid">
    <p hidden id="user_id" name="user_id">{{session.userinfo.sub}}</p>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div id="big-block" class="p-4">
            <h2>Your Information</h2>
            <hr>
            <div class="profile" id="information">
                <p id="set-age">Age: <span id="displayAge"></span></p>
                <p id="set-height">Height (inches): <span id="displayHeight"></span></p>
                <p id="set-weight">Weight (pounds): <span id="displayWeight"></span></p>
                <button id="editButton" onclick="editInformation()"> Edit </button>
            </div>
            <form class="profile" id="inputForm" style="display: none;">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required><br><br>

                <label for="height">Height (inches):</label>
                <input type="number" id="height" name="height" required><br><br>

                <label for="weight">Weight (pounds):</label>
                <input type="number" id="weight" name="weight" required><br><br>
                <input type="hidden" id="userid" name="userid" value={{session.userinfo.sub}}>

                <button type="button" onclick="submitForm()">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
